/build*
/install
/Testing
/build-tests
/external/tracy/
.worktrees/
node_modules
dist
motor_model_generated.*
!include/motor/motor_model_generated.h
!src/motor/motor_model_generated.cc
.VSCodeCounter
superpowers
.superpowers
*.zip
*.tgz
npm/staging/
npm/test-results/
__pycache__
imgui.ini
*.tracy
